127.0.0.1 localhost

# The following lines are desirable for IPv6 capable hosts
::1 localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

{{ master01_ip }} master01
{{ master02_ip }} master02
{{ master03_ip }} master03
{{ node01_ip }} slave01
{{ node02_ip }} slave02
{{ node03_ip }} slave03
{{ loadbalancer01_ip}} lb01
{{ loadbalancer02_ip }} lb02
